<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCLPsadK_gyI0HtYunNCV2TAx821YMCsKY</string>
	<key>GCM_SENDER_ID</key>
	<string>42799207797</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatAppFlutter.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chat-app-bsm</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-bsm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:42799207797:ios:28863ae6153c541588ef3c</string>
	<key>DATABASE_URL</key>
	<string>https://chat-app-bsm-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>